if mode == 'loading'
  td(colspan="2")
    .ss.loader
      i.fa.fa-refresh.fa-spin
else
  header
    nav.ss.table-filters
      .options
        if canCreate
          .ss.input-button
            input.ss(type="text" role="new-name" placeholder="Name")
            button.ss.bg-action.hover(role="add-account")= strings.defaults.add
      .filter
        label.ss.results(role='results-count')
        .ss.search
          input.ss(type="text" role="filter" placeholder="#{strings.defaults.filter}" tabindex=1)

  section
    div
      table.ss.pane-table
        thead.ss.hide-below.w500
          tr
            th.sortable(sort-on='name') Name
              i.fa.fa-sort-asc.indicator-asc
              i.fa.fa-sort-desc.indicator-desc
            th Actions
        tbody
          tr
            td(colspan=3)
              .ss.loader
                i.fa.fa-refresh.fa-spin

  nav.ss.table-pagination.no-pages
    button.ss.fake(role='page-previous')
      i.fa.fa-chevron-left
      span  Previous 
        span(role='increment')= increment
    label.ss(role='results') &nbsp;
    button.ss.fake(role='page-next')
      span Next 
        span(role='increment')= increment
        |  
      i.fa.fa-chevron-right