H4.text Refer a friend and earn free subscription!
.referral-code-container
  label.referral-code.left  7YB68E2UW6HK 
  button.ss.bg-action.hover.right Copy Code
  button.ss.bg-action.hover.right Copy Link
.socials
  a(role="share-fb" href="https://www.facebook.com/monstercat")
    i.fa.fa-facebook-official
  a(role="share-tw" href="http://twitter.com/Monstercat")
    i.fa.fa-twitter
  a(role="share-fb" href="https://www.facebook.com/monstercat")
    i.fa.fa-google-plus-square
  a(role="share-tw" href="http://twitter.com/Monstercat")
    i.fa.fa-envelope
