.modal-header
  button.close(type="button", data-dismiss="module") &times;
  h3 Modal Layover
.modal-body
  .modal-body-content
.modal-footer
  button.btn.btn-default Default
  button.btn.btn-primary Primary
  button.btn.btn-danger Danger