label.ss.heavy Paypal Account
.ss.labelfields.paypal-info(role='paypal-info')
  .field
    .key
      label.ss Paypal Email:
    .value
      label.ss.paypal-email(role='email')
p.ss.msg.bg-error.hide Missing Paypal Email.
button.ss.bg-action(role="change-paypal-profile") Update Paypal Profile
