.handbook-view {
  background: #fff;
  border-radius: 0.2em;
  max-width: 520px;
  min-height: 100%;
  overflow-y: auto;
  position: absolute;
  width: 100%;
}

.handbook-view header h1 {
  font-size: 1em;
  line-height: normal;
  text-transform: uppercase;
}

.handbook-view header a {
  color: inherit;
}

.handbook-view section {
  padding: 1em;
}

.handbook-view section.ss.page-template h1 {
  text-align: left;
}

.handbook-view section.ss.page-template h2 {
  margin: 1.5rem 0 0;
}

.handbook-view section.ss.page-template h3 {
  line-height: normal;
  margin: 0.5rem 0;
}

.handbook-view section.ss.page-template p {
  margin-top: 0;
}

@media (max-width: 800px) {
  .mobile .handbook-view section a {
    line-height: 2;
  }
}

/* Signed Out */
.handbook-view.welcome {
  background: transparent url("/img/DSC02629.JPG") no-repeat center center fixed;
  max-width: initial;
}

.handbook-view.welcome .contents {
  background-color: rgba(0, 0, 0, 0.6);
  min-height: 100%;
  position: absolute;
  width: 100%;
}

.handbook-view.welcome nav {
  padding: 2em 0;
}

.handbook-view.welcome nav .monstercat {
  height: 2em;
  margin: 0 auto;
  width: 2em;
}

.handbook-view.welcome header {
  display: none;
}

.handbook-view.welcome section {
  background-color: white;
  color: #424242;
  margin: 0 auto;
  max-width: 520px;
  padding: 3em;
}

.handbook-view.welcome footer {
  height: 2em;
}
