.mast-view {
  background-color: #fff;
  box-shadow: 0 0 0.2em rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  display: block;
  flex-shrink: 0;
  min-width: 320px;
  padding: 2.5em 1.0em 0.5em;
  position: relative;
  width: 100%;
  z-index: 1;
}

.connect-migration-notice {
  background: dodgerblue;
  color: #fff;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  padding: 0.25em 0.5em;
  text-align: center;
  font-size: 16px;
}

.connect-migration-notice .fa {
  margin-right: 0.25em;
}

.connect-migration-notice a {
  color: #fff;
  text-decoration: underline;
}

.connect-migration-notice a:hover {
  color: #ccc;
}

.mast-view.hide {
  display: none;
}

.mast-view > .mast-menu-toggle {
  float: left;
  padding: 0.6em 0 0 0;
}

.mast-view > .mast-menu-toggle i {
  color: #989898;
  cursor: pointer;
  transition: color 0.25s;
}

.mast-view > .mast-menu-toggle > i {
  margin-right: 1em;
}

.mast-view > .mast-menu-toggle i.active {
  color: dodgerblue;
}

.mast-view > .mast-menu-toggle i:hover {
  color: dodgerblue;
}

.mast-view > .mast-logo {
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  height: 36px;
  margin: 0 auto;
}

.mast-view > .mast-player {
  float: right;
}

@media (max-width: 1024px) {
  .mobile .mast-view i {
    font-size: 1.5em;
  }

  .mobile .mast-view .volume-view,
  .mobile .mast-view i[role="next"] {
    display: none;
  }
}