.connect-migration-notice
  span.fa.fa-warning

  strong Connect is moving!
  |  Everything here will be moving to
  a(href="https://www.monstercat.com") monstercat.com
  |  very soon.
.mast-menu-toggle
  i.fa.fa-bars(title="Menu" role="toggle-menu")
  .ss.count-badge(class=(canViewTransfers ? undefined : 'hide'))
    i.fa.fa-cloud(title="Package Downloads" role="open-transfers")
    span.hide(role='count') 0
.mast-player
.mast-logo