h5.ss.cancel-margin-top Manage Variables
p.ss Creating variables allow you to store extra data and use them in your templates.
  br
  | This data can also be used to query from the database so it is best for you to reuse the same variable names.
if mode == 'loading'
  label.ss.heavy.cancel-margin-top.cancel-padding-top Loading users and tracks lists... 
    i.fa.fa-gear.fa-spin
  div(role='editor')
else
  table.ss.rows
    tbody
      tr
        td
          select.ss.natural(role='new-type')
            option(value='string') Text
            option(value='number') Number
            option(value='date') Date
            option(value='user') User
            option(value='track') Track
            option(value='array') String Array
        td
          input.ss(type="text" role='new-name' placeholder='variable_name')
        td
          button.ss.bg-action.hover(role='add') Add Variable
  br
  div(role='editor')