h5.ss.cancel-margin-top Required User Signatures
p Add users to sign this contract. They will recieve an email once you review and sign this contract.
div(role='signatures')
  i.fa.fa-gear.fa-spin

h5 Additional Viewers
p You can add additional users to view this contract. They will also recieve an email.
div(role='viewers')
  i.fa.fa-gear.fa-spin