.contract-create-view {
  max-width: 1440px;
  background-color: white;
  margin: 0 auto;
}

.contract-create-view .edit-n-review {
  border-bottom: solid 1px rgb(226, 226, 226);
}

.contract-create-view .edit-n-review .options form {
  display: inline;
  margin-left: 0.5em;
}

.contract-create-view span.variable {
  background-color: yellow;
  color: black;
}

.contract-create-view .contract-text-editor {
  margin-top: 1em;
}

.contract-create-view textarea.contract-template-editor {
  border-radius: 0px;
  border: 0px;
  box-shadow: none;
  box-sizing: border-box;
  color: black;
  font-family: Monaco, monospace;
  font-size: 12px;
  height: 400px;
  margin: 0 0 1em 0;
  width: 100%;
  resize: none;
  overflow: hidden;
}

.contract-create-view .contract-sign-view {
  padding: 1em;
}

.contract-create-view .splitter {
  display: flex;
}

.contract-create-view .splitter > * {
  flex: 1;
}

.contract-create-view .splitter > :first-child {
  padding-right: 1em;
}