if mode == 'loading'
  .ss.loader
    i.fa.fa-refresh.fa-spin
else
  div(role="editor")
  div
    .splitter.ss.padded
      div(role="vars")
      div(role="sigs")
  hr.ss.cancel-margin
  div(role="sign")