.splitter
  div
    textarea.contract-template-editor(property='text')
div.options
  .ss.input-button
    select.ss.natural(role='templates-list')
      option(value='' disabled) No Templates 
    button.ss.bg-action.hover(role='load-template') Load
  |  
  .ss.input-button
    input.ss(type='text' role='save-template-name' placeholder='Template Name')
    button.ss.bg-action.hover(role='save-template') Save 
  form(method='post' target='_blank' action='/api/contract/preview')
    input(type='hidden' name='text' value='')
    input(type='hidden' name='variables' value='')
    button.ss.bg-action.hover(type='submit') Preview
