if !logs || !logs.length
  tr
    td.ss.center-text(colspan='3') No logs available.
else
  each log in logs
    - var date = new Date(log.timeStamp)
    tr
      td= log.changerName || 'Unknown'
      td= log.change || ''
      td= format('M j Y, H:i', date)