if mode == 'loading'
  .ss.loader
    i.fa.fa-refresh.fa-spin
else if mode == 'error'
  .ss.center-text
    p.ss.heavy= error
    p= strings.phrases.tryAgain
else
  .ss.input-button
    button.ss(role="toggle" filter='all') All
    button.ss.selected(role="toggle" filter='active') Active
  table.ss.bordered
    thead
      tr
        th User
        th Log
        th Date
    tbody
