.ss.card.center-text
  i.fa.fa-lock
  p.ss.heavy You need to renew your subscription in order to access the music catalog. To renew go to your profile and select renew under the subscription section.
  a.ss(href="/#profile") Go to Profile