p.ss.msg.bg-action Your subscription has been canceled.
.option(role="option")
  h2 Thank you for subscribing!
  h5 We would appreciate if you could help us improve our platform by taking a short survey.
.survey-content(role="survey-content")
  iframe(src="#{surveyLink}").survey-frame
button.ss.margin(role="back-profile").hide
  a(href="/#profile/subscription/") Back To Profile
