div This file should not be used anymore
label.ss.heavy Whitelisting 
  i.fa(role="status")
  i.fa.fa-refresh.fa-spin.hide(role="refresh")
p Whitelisting may take up to 24 hours to take effect.
p.ss.cl-error(role='error').hide An error occured.
.ss.labelfields.whitelist-items
table.ss.rows
  tbody
button.ss.bg-action.hover(role='add-channel') Add Channel for $4.99/MONTH