label.ss.heavy Credit Card Information
p.ss.msg.bg-error.hide An error occured.
p.ss.msg.bg-info.stripe-card-missing.hide You haven't setup a credit card.
.ss.labelfields.creditcard
  .field
    .key
      label.ss Type:
    .value
      label.ss(role='type')
  .field
    .key
      label.ss Number:
    .value
      label.ss(role='number')
  .field
    .key
      label.ss Expires:
    .value
      label.ss(role='expiry')
  .field
    .key
      label.ss Eamil:
    .value
      label.ss(role='email')
button.ss.bg-action(role="change-card") Update
