.contract-view {
  max-width: 1280px;
  background-color: white;
  margin: 0 auto;
}

.contract-view .body {
  padding: 1em;
}

.contract-view .signatures .signature {
  padding: 1em 0 0 0;
}

.contract-view .signatures .signature:first-child {
  padding-top: 0;
}

.contract-view .signatures .signature label {
  margin: 0;
  padding: 0 0 0.25em 0;
  display: block;
}

.contract-view .signatures .signature img {
  margin-top: 0.5em;
}

.contract-view .signatures,
.contract-view .attachments,
.contract-view .contract-sign-view {
  padding: 1em;
  border-top: solid 1px rgba(226, 226, 226, 1);
}