td= model.get('vendor')
td= model.get('identity')
td
  | $
  = model.get('amountPaid')
td
  | $
  = model.get('amountRemaining')
td.ss.center-text
  if model.get('whitelisted')
    i.fa.fa-check
  else
    i.fa.fa-times
td.actions
  .ss.inline-toolbar
    button.ss.fake.cl-danger-hover(role="delete" editable="whitelist.destroy")
      i.fa.fa-trash-o