- var whitelisted = model.get("whitelistStatus") == "whitelisted"
td.realname= model.get("realName")
td.email= model.get("email")
td.active.ss.center-text(role="subscription-status")
  if model.isSubscriber()
    if subscriptionActive
      i.fa.fa-check
    else
      i.fa.fa-exclamation.ss.cl-danger
td.active.ss.center-text(role="whitelist-status")
  if whitelistActive
    i.fa.fa-check
  else
    i.fa.fa-exclamation.ss.cl-danger
td.period= model.getAsFormatedDate("created")

