if mode == 'loading'
  .ss.loader
    i.fa.fa-refresh.fa-spin
else
  .website
    label.ss.checkbox
      | Visible on website.
      input(type="checkbox" title="Visible on website." property="public")

    label.ss.checkbox
      | Show their events on website.
      input(type="checkbox" property="showEvents")

    .ss.labelfields
      .field
        .key
          label.ss Name
        .value
          input.ss(type="text" placeholder="Name On Website" property="name")
      .field
        .key
          label.ss Vanity URI
        .value
          input.ss(type="text" placeholder="pegboard-nerds" property="vanityUri")
      .field
        .key
          label.ss Profile Image URL 
        .value
          input.ss(type="text"
          placeholder="https://assets.monstercat.com/artists-profile-images/"
          property="profileImageUrl")
    
    if years
      label.ss.heavy Appears in Years
      .select-years
        each val in years
          label.ss
            input(type="checkbox" role="markYear" value="#{val.year}" checked=(val.checked ? "checked" : undefined)) 
            = val.text

  label.ss.heavy Profile
  textarea.ss.expand(property="about")

  .bookings
    label.ss.heavy Bookings
    textarea.ss.expand.bookings(property="bookings")

  .management
    label.ss.heavy Management
    textarea.ss.expand.management(property="managementDetail")

  label.ss.heavy URLs
  .urls

  label.ss.heavy Picture Position
  .ss.labelfields
    .field
      .key
        label.ss X Position %
      .value
        input.ss(type="text" property="imagePositionX" errornone)
    .field
      .key
        label.ss Y Position % 
      .value
        input.ss(type="text" property="imagePositionY" errornone)

